<div class="exist">
  <div class="col-12">
    <h2>Adicionar Item Cardapio</h2>
  </div>
</div>

<ion-content>
  <div class="scrool-t">
    <div class="formulario justify-content-center">
      <form [formGroup]="formColab" (ngSumit)="sub()">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><i class="fa-solid fa-user"></i> Nome</mat-label>
                  <input formControlName="nomeItem" matInput maxlength="120" type="text" />
                </mat-form-field>
                
                <span class="text-danger"
                  *ngIf="(formColab.controls.nomeItem.touched || submitted) && formColab.controls.nomeItem.errors?.required">
                  Campo Obrigatório. </span>
                  <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><i class="fa-solid fa-user"></i> Descricao</mat-label>
                <input formControlName="descricao" matInput maxlength="120" type="text" />
                </mat-form-field>
                <span class="text-danger"
                  *ngIf="(formColab.controls.descricao.touched || submitted) && formColab.controls.descricao.errors?.required">
                  Campo Obrigatório. </span>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label><ion-icon name="people"></ion-icon> Categoria</mat-label>
                  <select #depto matNativeControl formControlName="categoria" >
                    <option value=0 [defaultSelected]=0></option>
                    <option *ngFor="let c of listaCategorias" [value]="c.idCategoria">
                      {{ c.descricao }}
                    </option>
                  </select>
                </mat-form-field>
                <span class="text-danger"
                  *ngIf="(formColab.controls.categoria.touched || submitted) && formColab.controls.categoria.errors?.required">
                  Campo Obrigatório. </span>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><i class="fa-solid fa-user"></i> PRECO</mat-label>
                  <input formControlName="preco" matInput maxlength="120" type="number" />
                  </mat-form-field>
                  <span class="text-danger"
                    *ngIf="(formColab.controls.preco.touched || submitted) && formColab.controls.preco.errors?.required">
                    Campo Obrigatório. </span>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="btns">
      <div>
        <button class="cancel" (click)="dismiss(0)">Cancelar</button>
        <button class="save" (click)="sub()">Criar</button>
      </div>
    </div>
  </div>
</ion-content>